In [1]:
# Import necessary libraries
import fitz
import pandas as pd

In [2]:
# Use PyMuPDF to read the PDF file.
doc = fitz.open("./data/order.pdf")
page = doc[0]

In [3]:
# Find the tables in the PDF and print the column names.
tabs = page.find_tables()
for i,tab in enumerate(tabs):
    print(f"Table {i} column names: {tab.header.names}")

Table 0 column names: ['order_id', 'order_status', 'customer', 'order_date', 'order_quantity', 'sales']

In [4]:
# Convert the first table to a Pandas DataFrame and print it.
tab = tabs[0]
df = tab.to_pandas()
df

,order_id,order_status,customer,order_date,order_quantity,sales
0,3,Order\nFinished,Muhammed Mac\nIntyre,13/10/2010,6,523080
1,293,Order\nFinished,Barry French,1/10/2012,49,20246040
2,483,Order\nFinished,Clay Rozendal,10/7/2011,30,9931519
3,515,Order\nFinished,Carlos Soltero,28/8/2010,19,788540
4,613,Order\nFinished,Carl Jackson,17/6/2011,12,187080
5,643,Order\nFinished,Monica Federle,24/3/2011,21,5563640
6,678,Order\nReturned,Dorothy Badders,26/2/2010,44,456820
7,807,Order\nFinished,Neola Schneider,23/11/2010,45,393700
8,868,Order\nFinished,Carlos Daly,8/6/2012,32,1433680
9,933,Order\nFinished,Claudia Miner,4/8/2012,15,161220
10,995,Order\nFinished,Neola Schneider,30/5/2011,46,3630980
11,998,Order\nFinished,Allen Rosenblatt,25/11/2009,16,496520
12,1154,Order\nFinished,Sylvia Foulston,14/2/2012,44,8924460
13,1344,Order\nFinished,Jim Radford,15/4/2012,15,1669808
14,1412,Order\nFinished,Carlos Soltero,12/3/2010,13,118060
15,1539,Order\nFinished,Carl Ludwig,9/3/2011,33,1023660
16,1540,Order\nFinished,Don Miller,4/8/2012,30,161800
17,1702,Order\nFinished,Annie Cyprus,6/5/2011,23,134480
18,1761,Order\nFinished,Carl Ludwig,23/12/2010,25,24056460
19,1792,Order\nFinished,Carlos Soltero,8/11/2010,28,740960

In [5]:
# Clean up the DataFrame by removing newlines.
df = df.replace('\n', ' ', regex=True)

# Reformat the DataFrame to be more readable by language models and save it to a text file.
with open("./processed_data/table_data.txt", "w") as f:
    for index, row in df.iterrows():
        row_str = ""
        for col in df.columns:
            row_str += f"{col}: {row[col]}, "
        formatted = row_str[:-2]
        print(formatted)
        f.write(formatted + "\n")

order_id: 3, order_status: Order Finished, customer: Muhammed Mac Intyre, order_date: 13/10/2010, order_quantity: 6, sales: 523080
order_id: 293, order_status: Order Finished, customer: Barry French, order_date: 1/10/2012, order_quantity: 49, sales: 20246040
order_id: 483, order_status: Order Finished, customer: Clay Rozendal, order_date: 10/7/2011, order_quantity: 30, sales: 9931519
order_id: 515, order_status: Order Finished, customer: Carlos Soltero, order_date: 28/8/2010, order_quantity: 19, sales: 788540
order_id: 613, order_status: Order Finished, customer: Carl Jackson, order_date: 17/6/2011, order_quantity: 12, sales: 187080
order_id: 643, order_status: Order Finished, customer: Monica Federle, order_date: 24/3/2011, order_quantity: 21, sales: 5563640
order_id: 678, order_status: Order Returned, customer: Dorothy Badders, order_date: 26/2/2010, order_quantity: 44, sales: 456820
order_id: 807, order_status: Order Finished, customer: Neola Schneider, order_date: 23/11/2010, order_quantity: 45, sales: 393700
order_id: 868, order_status: Order Finished, customer: Carlos Daly, order_date: 8/6/2012, order_quantity: 32, sales: 1433680
order_id: 933, order_status: Order Finished, customer: Claudia Miner, order_date: 4/8/2012, order_quantity: 15, sales: 161220
order_id: 995, order_status: Order Finished, customer: Neola Schneider, order_date: 30/5/2011, order_quantity: 46, sales: 3630980
order_id: 998, order_status: Order Finished, customer: Allen Rosenblatt, order_date: 25/11/2009, order_quantity: 16, sales: 496520
order_id: 1154, order_status: Order Finished, customer: Sylvia Foulston, order_date: 14/2/2012, order_quantity: 44, sales: 8924460
order_id: 1344, order_status: Order Finished, customer: Jim Radford, order_date: 15/4/2012, order_quantity: 15, sales: 1669808
order_id: 1412, order_status: Order Finished, customer: Carlos Soltero, order_date: 12/3/2010, order_quantity: 13, sales: 118060
order_id: 1539, order_status: Order Finished, customer: Carl Ludwig, order_date: 9/3/2011, order_quantity: 33, sales: 1023660
order_id: 1540, order_status: Order Finished, customer: Don Miller, order_date: 4/8/2012, order_quantity: 30, sales: 161800
order_id: 1702, order_status: Order Finished, customer: Annie Cyprus, order_date: 6/5/2011, order_quantity: 23, sales: 134480
order_id: 1761, order_status: Order Finished, customer: Carl Ludwig, order_date: 23/12/2010, order_quantity: 25, sales: 24056460
order_id: 1792, order_status: Order Finished, customer: Carlos Soltero, order_date: 8/11/2010, order_quantity: 28, sales: 740960